PORT=3001
MONGO_URL=mongodb://auth-db:27017/authdb
JWT_SECRET_ACCESS=your_jwt_access_secret_key
JWT_SECRET_REFRESH=your_jwt_refresh_secret_key
REDIS_CLIENT_URL=redis://redis:6379
NOTIFICATION_SERVICE_URL=http://notification:3003
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672
NODE_ENV=development

# Rate Limiting Configuration
RATE_LIMIT_MAX_REQUESTS=100
RATE_LIMIT_WINDOW_SECS=60
