PORT=3004
MONGO_URL=mongodb://localhost:27017/addressdb
JWT_SECRET=dipronil_secret_key
REDIS_CLIENT_URL=redis://localhost:6379
AUTH_SERVICE_URL=http://localhost:3001
RABBITMQ_URL=amqp://guest:guest@localhost:5672
NODE_ENV=development

# Rate Limiting Configuration
RATE_LIMIT_MAX_REQUESTS=100
RATE_LIMIT_WINDOW_SECS=60
