PORT=3002
MONGO_URL=mongodb://product-db:27017/productdb
JWT_SECRET=your_jwt_secret_key
REDIS_CLIENT_URL=redis://redis:6379
AUTH_SERVICE_URL=http://auth:3001
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672
NODE_ENV=development
